<div class="recommended-user">
  <div class="title">
    <h3>おすすめユーザー</h3>
    <span>·</span>
    <span class="update">更新</span>
    <span>·</span>
    <span class="all-show">すべて見る</span>
  </div>

  <div class="users">
    <div class="first-user">
      <img class="cancel" src="../../assets/icons/button_cancel.png">
      <img class="recommended-user-icon" src="../../assets/photos/noboruchan.jpg">
      <div class="about-user">
        <div class="user-name">
          <strong>たかなみこうた</strong>
          <span>@takanami_aaa</span>
        </div>
        <button>
          <span>フォローする</span>
        </button>
      </div>
    </div>

    <div class="second-user">
      <img class="cancel" src="../../assets/icons/button_cancel.png">
      <img class="recommended-user-icon" src="../../assets/photos/noboruchan.jpg">
      <div class="about-user">
        <div class="user-name">
          <strong>たかなみこうた</strong>
          <span>@takanami_aaa</span>
        </div>
        <button>
          <span>フォローする</span>
        </button>
      </div>
    </div>

    <div class="third-user">
      <img class="cancel" src="../../assets/icons/button_cancel.png">
      <img class="recommended-user-icon" src="../../assets/photos/noboruchan.jpg">
      <div class="about-user">
        <div class="user-name">
          <strong>たかなみこうた</strong>
          <span>@takanami_aaa</span>
        </div>
        <button>
          <span>フォローする</span>
        </button>
      </div>
    </div>

  </div>

</div>

<div class="find-user">
  <img src="../../assets/icons/icon_acquaintance.png">
  <div>知り合いを見つけましょう</div>
</div>
