<div class="about">
  <div class="header">
    <ul class="twitter">
      <li id="twitter">© 2018 Twitter</li>
      <li>
        <a>Twitterについて</a>
      </li>
    </ul>
    <ul class="twitter-about">
      <li id="help-center">
        <a>ヘルプセンター</a>
      </li>
      <li>
        <a>規約</a>
      </li>
      <li>
        <a>プライバシーポリシー</a>
      </li>
      <li>
        <a>クッキー</a>
      </li>
      <li>
        <a>広告について</a>
      </li>
      <li>
        <a>ブランド</a>
      </li>
      <li>
        <a>ブログ</a>
      </li>
      <li>
        <a>ステータス</a>
      </li>
      <li>
        <a>アプリ連携</a>
      </li>
      <li>
        <a>採用情報</a>
      </li>
      <li>
        <a>マーケティング</a>
      </li>
      <li>
        <a>広告掲載方法</a>
      </li>
      <li>
        <a>開発者</a>
      </li>
    </ul>
  </div>
  <div class="footer">
    <img src="../../assets/icons/icon_link.png">
    <a>Twitter広告</a>
  </div>
</div>

