<div class="trends">
  <div class="recommend">
    <span class="title">おすすめトレンド</span>
    <span class="dot">·</span>
    <span class="change">変更する</span>
  </div>
  <div class="trend-contents">
    <ul>
      <li>
        <span class="trend-name">ああああああ</span>
        <span class="trend-supplement">3,290件のツイート</span>
      </li>
      <li>
        <span class="trend-name">いいいいいいいいいい</span>
        <span class="trend-supplement">29,109件のツイート</span>
      </li>
      <li>
        <span class="trend-name">けもふれ２</span>
        <span class="trend-supplement">「けもふれ２」1月スタート監督は「アイカツ！」の木村隆一氏</span>
      </li>
      <li>
        <span class="trend-name">ええええええええええええ</span>
        <span class="trend-supplement">114,514件のツイート</span>
      </li>
      <li>
        <span class="trend-name">おおおおおおおおお</span>
        <span class="trend-supplement">1,293件のツイート</span>
      </li>
      <li>
        <span class="trend-name">かかかかかかかかかかかか</span>
        <span class="trend-supplement">12,438件のツイート</span>
      </li>
      <li>
        <span class="trend-name">ききききききききききき</span>
        <span class="trend-supplement">23,384件のツイート</span>
      </li>
      <li>
        <span class="trend-name">くくくくくくくくくk</span>
        <span class="trend-supplement">98,483件のツイート</span>
      </li>
      <li>
        <span class="trend-name">けけけけけけけけけけ</span>
        <span class="trend-supplement">21,394件のツイート</span>
      </li>
    </ul>
  </div>
</div>
