<div class="profileCard">
  <div class="headerImg">
    <img src="../../assets/photos/keio.png">
  </div>
  <img class="user-icon" src="../../assets/photos/noboruchan.jpg">
  <div>
    <a class="user-name">たかなみこうた</a>
    <a class="user-id">@takanami_aaa</a>
  </div>
    <ul class="user-status">
      <li id="tweet">
        <span class="item">ツイート</span>
        <span class="number">53,902</span>
      </li>
      <li id="follow">
        <span class="item">フォロー</span>
        <span class="number">20</span>
      </li>
      <li id="follower">
        <span class="item">フォロワー</span>
        <span class="number">43,873</span>
      </li>
    </ul>
</div>
